<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello world from Tố Hữu</h1>
    <%= dataUser %>
    <img class="backGround" src="/imgs/TOHUU.jpg" alt="ảnh tố hữu">
</body>
</html>